body{
background:#111;
color:white;
font-family:Arial;
margin:0;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
}

h1{
text-align:center;
}

#chat{
height:400px;
overflow-y:auto;
background:#222;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.user{
color:cyan;
margin:5px 0;
}

.bot{
color:lime;
margin:5px 0;
}

input{
width:100%;
padding:12px;
box-sizing:border-box;
margin-bottom:10px;
}

button{
padding:10px;
margin-right:5px;
}